
{% extends "layouts/base.html" %}

{% block content %}
<h1>Tasks</h1>

<a href="{% url "create-task" %}">Crear tarea</a>

<ul>
{% for task in tasks %}
<li >
    <a style="text-decoration: underline;" href="{{task.id}}">
        <h1>{{task.title}}</h1>
    </a>
    <p>{{task.description}}</p>
    <p>Made by: {{task.user.username}}</p>
    {% if task.important %}
    <p style="color:red;">Urgent</p>
    {% else %}
    <p>No importante</p>
    {% endif %}
    
    <p>{{task.datecompleted|date:'M j Y:i'}}</p>
    <hr>
</li>
{% endfor %}
</ul>

{% endblock content %}